# Analyzing the ATP Data

## 1. Project Description
### 1.1. Overview
The _Association of Tennis Professionals_, or _ATP_ is the global governing body of men’s professional tennis. It corresponds to FIFA in football. It is the federation that holds all the prestigious tennis tournaments in the world and showcases the world’s greatest players. More on [this link](https://www.atptour.com/en/corporate/about).

In this project, we will be exploring a dataset containing information about ATP players and matches in order to highlight some facts and extract some useful insights from this data.
### 1.2. Dataset Description
The dataset used in this project (from data.world) consists of two `csv` files; `atp_players.csv` and `atp_matches.csv`. The former contains information about the ATP players while the latter contains information about the ATP matches from Jan. 3, 2000 till Aug. 15, 2021.

## 2. Data Wrangling
Before we begin, we need to import the necessary tools and libraries that we will use throughout the project.

In [8]:
import numpy as np
import scipy as sp
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
import pandas as pd
import re
import numbers

### 2.1. Data Loading
We will begin by loading the data into the dataset.

In [10]:
players = pd.read_csv('atp_players.csv')
players.head(3)

,player_id,first_name,first_initial,last_name,full_name,player_url,flag_code,residence,birthplace,birthdate,...,birth_month,birth_day,turned_pro,weight_lbs,weight_kg,height_ft,height_inches,height_cm,handedness,backhand
0,a002,Ricardo,R,Acuna,Acuna R,http://www.atpworldtour.com/en/players/ricardo...,CHI,"Jupiter, FL, USA","Santiago, Chile",19580113,...,1.0,13.0,0.0,150.0,68.0,"5'9""",69.0,175.0,NaN,NaN
1,a001,Sadiq,S,Abdullahi,Abdullahi S,http://www.atpworldtour.com/en/players/sadiq-a...,NGR,NaN,NaN,19600202,...,2.0,2.0,0.0,0.0,0.0,"0'0""",0.0,0.0,NaN,NaN
2,a005,Nelson,N,Aerts,Aerts N,http://www.atpworldtour.com/en/players/nelson-...,BRA,NaN,"Cachoeira Do Sul, Brazil",19630425,...,4.0,25.0,0.0,165.0,75.0,"6'2""",74.0,188.0,NaN,NaN

In [12]:
matches = pd.read_csv('atp_matches.csv')
matches.head(3)

C:\Users\Moaaz\AppData\Roaming\Python\Python37\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (10,11,14,15,16,17) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,location,tournament,match_date,series,court,surface,round,best_of,winner,loser,...,l3,w4,l4,w5,l5,wsets,lsets,tourney_id,wpts,lpts
0,Adelaide,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Dosedel S.,Ljubicic I.,...,0,0,0,0,0,2.0,0.0,2000-001,NaN,NaN
1,Adelaide,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Enqvist T.,Clement A.,...,0,0,0,0,0,2.0,0.0,2000-001,NaN,NaN
2,Adelaide,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Escude N.,Baccanello P.,...,3,0,0,0,0,2.0,1.0,2000-001,NaN,NaN

### 2.2. Data Cleaning
In this part, we will get the data ready for the analysis process. In particular, we will do the following:
- Remove the unwanted columns from both files.
- Remove any duplicate rows.
- Put every column in a proper format.
- Identify how we will deal with missing data, this will be postponed till the end as we get a deeper insight into the structure of the data.

## 3. Exploratory Data Analysis

## 4. Conclusions
### 4.1. Observations Summary

### 4.2. Final Thoughts